@model MY_Academy1.Models.Tbl_Categories
@{
    ViewBag.Title = "CreatCategory";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Kategori Ekleme Sayfası</h2>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" name="CategoryName" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>



</form>