@model MY_Academy1.Models.Tbl_Expertises
@{
    ViewBag.Title = "CreatExpertise";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>CreatExpertise</h2>

<form method="post">

    <label>Uzmanlık Alanı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <br />

    




    <button class="btn btn-outline-success">Ekle</button>


</form>


