<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="@ViewBag.İmage" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">@ViewBag.nameSurname</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Default/Index" class="nav-item nav-link"><i class="bi bi-house-door"></i>Anasayfa</a>
            <a href="/Profile/Index" class="nav-item nav-link"><i class="bi bi-person"></i>Profilim</a>
            <a href="/Category/Index" class="nav-item nav-link"><i class="bi bi-bookmark"></i>Kategoriler</a>
            <a href="/Banner/Index" class="nav-item nav-link"><i class="bi bi-app-indicator"></i>Banner</a>
            <a href="/Project/Index" class="nav-item nav-link"><i class="bi bi-code-slash"></i>Projelerim</a>
            <a href="/Education/Index" class="nav-item nav-link"><i class="bi bi-book"></i>Eğitim</a>
            <a href="/About/Index" class="nav-item nav-link"><i class="bi bi-braces"></i>Hakkımda</a>
            <a href="/Experiances/Index" class="nav-item nav-link"><i class="bi bi-clipboard-check"></i>Deneyim</a>
            <a href="/Expertise/Index" class="nav-item nav-link"><i class="bi bi-eyeglasses"></i>Uzmanlık Alanı</a>
            <a href="/Contact/Index" class="nav-item nav-link"><i class="bi bi-phone-vibrate"></i>İletişim</a>
            <a href="/Testimonials/Index" class="nav-item nav-link"><i class="bi bi-person-check"></i>Referanslar</a>
            <a href="/Message/Index" class="nav-item nav-link"><i class="bi bi-chat-dots"></i>Gelen Mesajlar</a>
            <a href="/SocialMedia/Index" class="nav-item nav-link"><i class="bi bi-instagram"></i>Sosyal Medya</a>




        </div>
    </nav>
</div>
