

<section @*id="contact"*@ class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle">
                Get In Touch
            </h2>

            <p class="h1">
                I love to hear from you.
                Whether you have a question or just
                want to chat about design, tech & art — shoot me a message.
            </p>
        </div>
    </div> <!-- end contact-top -->

    <div class="row contact-bottom">
        <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Reach me at</h3>
            <p class="contact-links">
                <a href="mailto:sayhello@luther.com" class="mailtoui">sayhello@luther.com</a> <br>
                <a href="tel:+1975432345">+197 543 2345</a>
            </p>
        </div>
        <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Social</h3>
            <ul class="contact-social">
                <li><a href="#0">Behance</a></li>
                <li><a href="#0">Dribble</a></li>
                <li><a href="#0">Twitter</a></li>
                <li><a href="#0">Instagram</a></li>
                <li><a href="#0">Github</a></li>
            </ul>
        </div>
        <div class="column lg-4 md-12 contact-block">
            <a href="#modal-message" class=" btn btn--medium u-fullwidth contact-btn folio-list__item-link">Bana Ulaşın</a>
        </div>
    </div> <!-- end contact-bottom -->

    <div id="modal-message" hidden>
        <div class="modal-popup" style="background-color:black">
            <img src="" alt="">

            <div class="modal-popup__desc ">
                <form method="post">
                    <label>Ad Soyad</label>
                    <input type="text" name="Name" class="form-control" />
                    <br />
                    <label>Email</label>
                    <input type="email" name="Email" class="form-control" />
                    <br />
                    <label>Konu</label>
                    <input type="text" name="Subject" class="form-control" />
                    <br />
                    <label>Mesajınız</label>
                    <input type="text" name="Description" class="form-control" />
                    <br />
                    <button class="btn btn-outline-dark ">Mesajı Gönder</button>
                </form>
            </div>


        </div>
    </div>
</section>